<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1ADB4F45-08A0-4B65-B8D5-A217FD18AC9F_details</key>
	<true/>
	<key>4B7B7212-ECDA-4973-B8F5-DEC7EB6E9C7E_details</key>
	<true/>
	<key>Battery_barChart_position</key>
	<integer>0</integer>
	<key>Battery_bar_chart_box</key>
	<false/>
	<key>Battery_bar_chart_frame</key>
	<true/>
	<key>Battery_bar_chart_label</key>
	<false/>
	<key>Battery_batteryDetails_position</key>
	<integer>1</integer>
	<key>Battery_battery_details_mode</key>
	<string>percentage</string>
	<key>Battery_battery_position</key>
	<integer>3</integer>
	<key>Battery_label_position</key>
	<integer>2</integer>
	<key>Battery_mini_position</key>
	<integer>4</integer>
	<key>Battery_notifications_low</key>
	<string>0.15</string>
	<key>Battery_position</key>
	<integer>8</integer>
	<key>Battery_state</key>
	<false/>
	<key>Battery_widget</key>
	<string></string>
	<key>Bluetooth_position</key>
	<integer>6</integer>
	<key>Bluetooth_state</key>
	<false/>
	<key>CPU_barChart_position</key>
	<integer>0</integer>
	<key>CPU_bar_chart_box</key>
	<false/>
	<key>CPU_bar_chart_frame</key>
	<true/>
	<key>CPU_bar_chart_label</key>
	<true/>
	<key>CPU_clustersGroup</key>
	<false/>
	<key>CPU_hyperhreading</key>
	<false/>
	<key>CPU_label_position</key>
	<integer>2</integer>
	<key>CPU_lineChart_position</key>
	<integer>3</integer>
	<key>CPU_mini_alignment</key>
	<string>center</string>
	<key>CPU_mini_color</key>
	<string>cyan</string>
	<key>CPU_mini_label</key>
	<false/>
	<key>CPU_mini_position</key>
	<integer>1</integer>
	<key>CPU_oneView</key>
	<true/>
	<key>CPU_pieChart_position</key>
	<integer>4</integer>
	<key>CPU_position</key>
	<integer>3</integer>
	<key>CPU_processes</key>
	<integer>15</integer>
	<key>CPU_splitValue</key>
	<false/>
	<key>CPU_state</key>
	<true/>
	<key>CPU_systemColor</key>
	<string>secondRed</string>
	<key>CPU_tachometer_position</key>
	<integer>5</integer>
	<key>CPU_updateInterval</key>
	<integer>3</integer>
	<key>CPU_updateTopInterval</key>
	<integer>3</integer>
	<key>CPU_usagePerCore</key>
	<false/>
	<key>CPU_widget</key>
	<string>bar_chart</string>
	<key>Clock_label_position</key>
	<integer>1</integer>
	<key>Clock_list</key>
	<data>
	W3sidHoiOiJsb2NhbCIsImVuYWJsZWQiOnRydWUsIm5hbWUiOiJMb2NhbCB0aW1lIiwi
	aWQiOiI1MzE5NUQwOC0wMDczLTRCOUYtOTJGRS0xODgxNzA4QURCOEMiLCJmb3JtYXQi
	OiJ5eXl5LU1NLWRkIEhIOm1tOnNzIn1d
	</data>
	<key>Clock_position</key>
	<integer>9</integer>
	<key>Clock_sensors_mode</key>
	<string>automatic</string>
	<key>Clock_sensors_monospacedFont</key>
	<false/>
	<key>Clock_stack_position</key>
	<integer>0</integer>
	<key>Clock_state</key>
	<false/>
	<key>Clock_widget</key>
	<string>sensors</string>
	<key>CombinedModules</key>
	<true/>
	<key>CombinedModules_popup</key>
	<false/>
	<key>CombinedModules_separator</key>
	<false/>
	<key>CombinedModules_spacing</key>
	<string>none</string>
	<key>Disk_barChart_position</key>
	<integer>0</integer>
	<key>Disk_label_position</key>
	<integer>3</integer>
	<key>Disk_memory_orderReversed</key>
	<false/>
	<key>Disk_memory_position</key>
	<integer>4</integer>
	<key>Disk_memory_symbols</key>
	<false/>
	<key>Disk_mini_position</key>
	<integer>1</integer>
	<key>Disk_networkChart_position</key>
	<integer>6</integer>
	<key>Disk_oneView</key>
	<true/>
	<key>Disk_pieChart_position</key>
	<integer>2</integer>
	<key>Disk_position</key>
	<integer>2</integer>
	<key>Disk_removable</key>
	<false/>
	<key>Disk_speed_position</key>
	<integer>5</integer>
	<key>Disk_state</key>
	<true/>
	<key>Disk_widget</key>
	<string>bar_chart</string>
	<key>GPU_barChart_position</key>
	<integer>0</integer>
	<key>GPU_bar_chart_box</key>
	<false/>
	<key>GPU_bar_chart_frame</key>
	<true/>
	<key>GPU_bar_chart_label</key>
	<true/>
	<key>GPU_label_position</key>
	<integer>3</integer>
	<key>GPU_lineChart_position</key>
	<integer>1</integer>
	<key>GPU_mini_alignment</key>
	<string>center</string>
	<key>GPU_mini_color</key>
	<string>cyan</string>
	<key>GPU_mini_label</key>
	<false/>
	<key>GPU_mini_position</key>
	<integer>4</integer>
	<key>GPU_oneView</key>
	<true/>
	<key>GPU_position</key>
	<integer>4</integer>
	<key>GPU_showType</key>
	<false/>
	<key>GPU_state</key>
	<true/>
	<key>GPU_tachometer_position</key>
	<integer>2</integer>
	<key>GPU_updateInterval</key>
	<integer>3</integer>
	<key>GPU_widget</key>
	<string>bar_chart</string>
	<key>LaunchAtLoginNext</key>
	<true/>
	<key>Macintosh HD_file:///_usedSpace</key>
	<true/>
	<key>NSNavPanelExpandedSizeForSaveMode</key>
	<string>{880, 448}</string>
	<key>NSNavPanelExpandedStateForSaveMode</key>
	<true/>
	<key>NSOSPLastRootDirectory</key>
	<data>
	Ym9vaxADAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA6AEA
	AAQAAAADAwAAAAQAAAUAAAABAQAAVXNlcnMAAAAEAAAAAQEAAHBvYnkJAAAAAQEAAERl
	dmVsb3BlcgAAAAgAAAABAQAAZG90ZmlsZXMQAAAAAQYAABAAAAAgAAAALAAAAEAAAAAI
	AAAABAMAAGNCAAAAAAAACAAAAAQDAADQZgAAAAAAAAgAAAAEAwAAl2AJAAAAAAAIAAAA
	BAMAAJhgCQAAAAAAEAAAAAEGAABoAAAAeAAAAIgAAACYAAAACAAAAAAEAABBxkpWmgAA
	ABgAAAABAgAAAgAAAAAAAAAfAgAAAAAAAB8CAAAAAAAAAAAAAAEFAAAIAAAABAMAAAIA
	AAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3No
	IEhECAAAAAQDAAAAUKEbcwAAAAgAAAAABAAAQcbKs6iAAAAkAAAAAQEAAEE3OUQyRDNB
	LUMxODUtNDkyMy05MzY3LTdGQkM3RTIxMEU4OBgAAAABAgAAgQAAAAEAAADvEwAAAQAA
	AO8TAAABAAAAAQAAAAEBAAAvAAAAMAAAAAECAABkbmliAAAAAAEAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAByZGxmAgAAAAAAAADwAAAA/v///wEAAAAAAAAAEwAAAAQQAABQ
	AAAAAAAAAAUQAACoAAAAAAAAABAQAADQAAAAAAAAAEAQAADAAAAAAAAAAAIgAACkAQAA
	AAAAAAUgAAAUAQAAAAAAABAgAAAkAQAAAAAAABEgAABYAQAAAAAAABIgAAA4AQAAAAAA
	ABMgAABIAQAAAAAAACAgAACEAQAAAAAAADAgAADwAAAAAAAAAAHAAAD4AAAAAAAAABHA
	AAAgAAAAAAAAABLAAAAIAQAAAAAAAAHQAADwAAAAAAAAABDQAAAEAAAAAAAAABfwAABA
	AAAAAAAAACLwAACwAQAAAAAAAA==
	</data>
	<key>NSStatusItem Preferred Position CombinedModules</key>
	<real>241</real>
	<key>NSStatusItem Restore Position Battery</key>
	<integer>489</integer>
	<key>NSStatusItem Restore Position CPU</key>
	<integer>482</integer>
	<key>NSStatusItem Restore Position Disk</key>
	<integer>521</integer>
	<key>NSStatusItem Restore Position Disk_mini</key>
	<integer>539</integer>
	<key>NSStatusItem Restore Position GPU</key>
	<integer>443</integer>
	<key>NSStatusItem Restore Position RAM</key>
	<integer>366</integer>
	<key>NSStatusItem Restore Position Sensors</key>
	<integer>560</integer>
	<key>NSStatusItem Restore Position Sensors_sensors</key>
	<integer>545</integer>
	<key>NSToolbar Configuration eu.exelban.Stats.Settings.Toolbar</key>
	<dict>
		<key>TB Display Mode</key>
		<integer>1</integer>
		<key>TB Icon Size Mode</key>
		<integer>1</integer>
		<key>TB Is Shown</key>
		<true/>
		<key>TB Size Mode</key>
		<integer>1</integer>
	</dict>
	<key>NSWindow Frame NSNavPanelAutosaveName</key>
	<string>880 725 800 448 0 0 2560 1415 </string>
	<key>NSWindow Frame eu.exelban.Stats.Settings.WindowFrame</key>
	<string>466 195 836 588 0 0 1920 1050 </string>
	<key>Network_label_position</key>
	<integer>1</integer>
	<key>Network_networkChart_position</key>
	<integer>2</integer>
	<key>Network_position</key>
	<integer>7</integer>
	<key>Network_speed_position</key>
	<integer>0</integer>
	<key>Network_state</key>
	<false/>
	<key>Network_state_position</key>
	<integer>3</integer>
	<key>Network_widget</key>
	<string>speed</string>
	<key>RAM_barChart_position</key>
	<integer>0</integer>
	<key>RAM_bar_chart_box</key>
	<false/>
	<key>RAM_bar_chart_color</key>
	<string>system</string>
	<key>RAM_bar_chart_frame</key>
	<true/>
	<key>RAM_bar_chart_label</key>
	<true/>
	<key>RAM_label_position</key>
	<integer>5</integer>
	<key>RAM_lineChart_position</key>
	<integer>2</integer>
	<key>RAM_memory_position</key>
	<integer>4</integer>
	<key>RAM_mini_alignment</key>
	<string>center</string>
	<key>RAM_mini_label</key>
	<false/>
	<key>RAM_mini_position</key>
	<integer>1</integer>
	<key>RAM_oneView</key>
	<true/>
	<key>RAM_pieChart_position</key>
	<integer>3</integer>
	<key>RAM_position</key>
	<integer>5</integer>
	<key>RAM_processes</key>
	<integer>15</integer>
	<key>RAM_state</key>
	<true/>
	<key>RAM_tachometer_position</key>
	<integer>6</integer>
	<key>RAM_updateInterval</key>
	<integer>3</integer>
	<key>RAM_updateTopInterval</key>
	<integer>3</integer>
	<key>RAM_widget</key>
	<string>mini,bar_chart</string>
	<key>Remote_position</key>
	<integer>1</integer>
	<key>SSD_bar_chart_box</key>
	<false/>
	<key>SSD_bar_chart_frame</key>
	<true/>
	<key>SSD_bar_chart_label</key>
	<true/>
	<key>SSD_mini_alignment</key>
	<string>center</string>
	<key>Sensors_barChart_position</key>
	<integer>2</integer>
	<key>Sensors_bar_chart_label</key>
	<false/>
	<key>Sensors_fanControl</key>
	<true/>
	<key>Sensors_fanValue</key>
	<string>percentage</string>
	<key>Sensors_fansSync</key>
	<true/>
	<key>Sensors_hid</key>
	<false/>
	<key>Sensors_label_position</key>
	<integer>1</integer>
	<key>Sensors_oneView</key>
	<true/>
	<key>Sensors_position</key>
	<integer>0</integer>
	<key>Sensors_sensors_alignment</key>
	<string>right</string>
	<key>Sensors_sensors_mode</key>
	<string>automatic</string>
	<key>Sensors_sensors_monospacedFont</key>
	<false/>
	<key>Sensors_sensors_position</key>
	<integer>0</integer>
	<key>Sensors_sensors_size</key>
	<false/>
	<key>Sensors_speed</key>
	<false/>
	<key>Sensors_state</key>
	<true/>
	<key>Sensors_unknown</key>
	<false/>
	<key>Sensors_widget</key>
	<string>sensors</string>
	<key>ble_05-b2-60-08-93-6c</key>
	<false/>
	<key>dockIcon</key>
	<false/>
	<key>fan_0_mode</key>
	<integer>0</integer>
	<key>fan_0_speed</key>
	<integer>6118</integer>
	<key>fan_1_mode</key>
	<integer>0</integer>
	<key>fan_1_speed</key>
	<integer>6118</integer>
	<key>pause</key>
	<false/>
	<key>remote_tokens_migrated_to_keychain</key>
	<true/>
	<key>runAtLoginInitialized</key>
	<true/>
	<key>sensor_Average CPU</key>
	<false/>
	<key>sensor_Average GPU</key>
	<false/>
	<key>sensor_F0Ac</key>
	<false/>
	<key>sensor_F1Ac</key>
	<false/>
	<key>sensor_Fastest Fan</key>
	<false/>
	<key>sensor_Fastest fan</key>
	<false/>
	<key>sensor_Hottest CPU</key>
	<false/>
	<key>sensor_ID0R</key>
	<false/>
	<key>sensor_IDBR</key>
	<false/>
	<key>sensor_IU1R</key>
	<false/>
	<key>sensor_IU2R</key>
	<false/>
	<key>sensor_PDTR</key>
	<false/>
	<key>sensor_PPBR</key>
	<false/>
	<key>sensor_TB1T</key>
	<false/>
	<key>sensor_TB2T</key>
	<false/>
	<key>sensor_TH0x</key>
	<false/>
	<key>sensor_TW0P</key>
	<true/>
	<key>sensor_TaLP</key>
	<false/>
	<key>sensor_TaRF</key>
	<false/>
	<key>sensor_Total System Consumption</key>
	<false/>
	<key>sensor_VD0R</key>
	<false/>
	<key>sensor_VP0R</key>
	<false/>
	<key>setupProcess</key>
	<true/>
	<key>support_pending</key>
	<false/>
	<key>support_pending_ts</key>
	<integer>1791268847</integer>
	<key>support_ts</key>
	<integer>1791328722</integer>
	<key>telemetry</key>
	<true/>
	<key>temperature_units</key>
	<string>system</string>
	<key>update-interval</key>
	<string>Silent</string>
	<key>updater_check_ts</key>
	<integer>1791329539</integer>
	<key>updater_install_ts</key>
	<integer>1790031840</integer>
	<key>version</key>
	<string>3.0.20</string>
</dict>
</plist>
