<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>colorPremium</key>
	<false/>
	<key>os</key>
	<string>macOS</string>
	<key>premium</key>
	<true/>
	<key>settings</key>
	<dict>
		<key>allday</key>
		<false/>
		<key>alldayAlertTime</key>
		<string>0900</string>
		<key>alldayAlerts</key>
		<array>
			<integer>1</integer>
		</array>
		<key>alldayColumns</key>
		<integer>2</integer>
		<key>alldayEvent</key>
		<integer>2</integer>
		<key>alldayEventEnd</key>
		<integer>24</integer>
		<key>alldayEventStart</key>
		<integer>0</integer>
		<key>alldayTextAlign</key>
		<integer>0</integer>
		<key>appIconBadge</key>
		<integer>0</integer>
		<key>badgeAlldayInclude</key>
		<true/>
		<key>blockCorner</key>
		<real>5</real>
		<key>blockOpacity</key>
		<integer>0</integer>
		<key>blockTimeType</key>
		<integer>0</integer>
		<key>colorText</key>
		<false/>
		<key>colorTextLevel</key>
		<integer>2</integer>
		<key>completeCurrent</key>
		<false/>
		<key>completedTask</key>
		<integer>3</integer>
		<key>completedTaskOption</key>
		<integer>0</integer>
		<key>countPerDay</key>
		<integer>0</integer>
		<key>countdown</key>
		<false/>
		<key>darkTheme</key>
		<integer>29</integer>
		<key>dayCellType</key>
		<integer>0</integer>
		<key>dayListSortTime</key>
		<false/>
		<key>dayTimelineType</key>
		<integer>1</integer>
		<key>displayStyle</key>
		<integer>0</integer>
		<key>duration</key>
		<integer>1</integer>
		<key>entryFontSize</key>
		<real>-1</real>
		<key>eventAlertSound</key>
		<integer>0</integer>
		<key>eventAllowNoti</key>
		<true/>
		<key>eventBullet</key>
		<true/>
		<key>extendView</key>
		<integer>1</integer>
		<key>externalMapProvider</key>
		<integer>2</integer>
		<key>flowGrayscale</key>
		<false/>
		<key>flowTranslucent</key>
		<false/>
		<key>flowViewEnd</key>
		<integer>0</integer>
		<key>fontFamily</key>
		<string>Avenir Next</string>
		<key>fontName</key>
		<string>AvenirNext-Regular</string>
		<key>friday</key>
		<false/>
		<key>fridayColor</key>
		<integer>232191</integer>
		<key>gflowOpacity</key>
		<integer>1</integer>
		<key>hangulWordWrap</key>
		<false/>
		<key>haptic</key>
		<false/>
		<key>hcalendar</key>
		<string>85B4FC92-20C3-4C1E-AF86-1554A94FE595</string>
		<key>hcalendarTitle</key>
		<string>대한민국 공휴일</string>
		<key>hiddenAddButton</key>
		<false/>
		<key>holiday</key>
		<true/>
		<key>holidaysColor</key>
		<integer>15610118</integer>
		<key>hour24</key>
		<true/>
		<key>iconIndicatorAttendees</key>
		<true/>
		<key>iconIndicatorRepeat</key>
		<true/>
		<key>incompletesSort</key>
		<integer>0</integer>
		<key>inputType</key>
		<integer>1</integer>
		<key>itemsSort</key>
		<integer>0</integer>
		<key>lightTheme</key>
		<integer>0</integer>
		<key>listSort</key>
		<integer>0</integer>
		<key>longPressOnDate</key>
		<integer>0</integer>
		<key>lunar</key>
		<true/>
		<key>lunarStyle</key>
		<integer>3</integer>
		<key>mainViewEnd</key>
		<integer>0</integer>
		<key>maxCountAlldays</key>
		<integer>4</integer>
		<key>menuWhenDrop</key>
		<integer>0</integer>
		<key>minuteInterval</key>
		<integer>5</integer>
		<key>monthPastGrayscale</key>
		<false/>
		<key>monthPastTranslucent</key>
		<false/>
		<key>monthVerticalScroll</key>
		<true/>
		<key>monthlyBlockLineSpacing</key>
		<real>-1</real>
		<key>monthlyBlockLines</key>
		<integer>1</integer>
		<key>natualLanguageInput</key>
		<true/>
		<key>natualLanguageTitle</key>
		<false/>
		<key>ndays</key>
		<integer>4</integer>
		<key>onCompletedTaskWithNoTime</key>
		<integer>0</integer>
		<key>onTaskWithNoTime</key>
		<integer>1</integer>
		<key>paletteVersion</key>
		<integer>1</integer>
		<key>planDatesSort</key>
		<integer>0</integer>
		<key>planMonthlyPosition</key>
		<integer>0</integer>
		<key>prevNextEventsShow</key>
		<integer>1</integer>
		<key>randomTheme</key>
		<false/>
		<key>randomThemeInterval</key>
		<real>0.0</real>
		<key>recommended</key>
		<true/>
		<key>saturday</key>
		<true/>
		<key>saturdayColor</key>
		<integer>232191</integer>
		<key>scrollToThisWeek</key>
		<false/>
		<key>searchScroll</key>
		<integer>1</integer>
		<key>shortItemMinLength</key>
		<integer>30</integer>
		<key>showCompletedTask</key>
		<true/>
		<key>showDailySub</key>
		<true/>
		<key>showDetail</key>
		<true/>
		<key>showHoriLine</key>
		<true/>
		<key>showOverduesToday</key>
		<true/>
		<key>showRepeatTaskPreview</key>
		<true/>
		<key>showTaskSub</key>
		<true/>
		<key>showTimelineSub</key>
		<true/>
		<key>showVertLine</key>
		<true/>
		<key>startTab</key>
		<integer>-1</integer>
		<key>startWeekDay</key>
		<integer>1</integer>
		<key>startWeekDayInWeek</key>
		<integer>1</integer>
		<key>sunday</key>
		<true/>
		<key>sundayColor</key>
		<integer>15610118</integer>
		<key>tabCount</key>
		<integer>0</integer>
		<key>tabIcons</key>
		<integer>1</integer>
		<key>tabOrder</key>
		<array>
			<integer>-1</integer>
			<integer>9</integer>
			<integer>10</integer>
			<integer>4</integer>
			<integer>15</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>0</integer>
			<integer>8</integer>
			<integer>16</integer>
			<integer>7</integer>
			<integer>5</integer>
			<integer>11</integer>
			<integer>14</integer>
			<integer>12</integer>
			<integer>13</integer>
			<integer>6</integer>
		</array>
		<key>tabStyle</key>
		<integer>0</integer>
		<key>taskAlert</key>
		<true/>
		<key>taskAlertSound</key>
		<integer>0</integer>
		<key>taskAllowNoti</key>
		<true/>
		<key>taskBlock</key>
		<integer>3</integer>
		<key>taskBullet</key>
		<true/>
		<key>taskShowBelow</key>
		<true/>
		<key>timeLabelType</key>
		<integer>0</integer>
		<key>timePickerStyle</key>
		<integer>0</integer>
		<key>timedAlerts</key>
		<array>
			<integer>1</integer>
		</array>
		<key>timedEvent</key>
		<integer>0</integer>
		<key>tintColor</key>
		<integer>2001859</integer>
		<key>todayBackColor</key>
		<integer>0</integer>
		<key>todayBackColorValue</key>
		<integer>-1</integer>
		<key>todayBackType</key>
		<integer>3</integer>
		<key>todayEffect</key>
		<integer>1</integer>
		<key>todayType</key>
		<integer>2</integer>
		<key>useRecentSearch</key>
		<true/>
		<key>weatherIcons</key>
		<integer>0</integer>
		<key>weatherOn</key>
		<true/>
		<key>weekNumCalendar</key>
		<integer>0</integer>
		<key>weekNumShow</key>
		<true/>
		<key>weekendShading</key>
		<false/>
		<key>weekendShadingOffset</key>
		<real>0.0</real>
		<key>widgetDisplayStyle</key>
		<integer>0</integer>
		<key>widgetEntryFontSize</key>
		<real>0.0</real>
		<key>widgetLunar</key>
		<false/>
	</dict>
	<key>time</key>
	<string>20260702233001980+0900</string>
	<key>userInterfaceIdiom</key>
	<integer>1</integer>
</dict>
</plist>
